
body {
    font-family: 'Arial', sans-serif;
}

.custom-btn {
    background-color: #28a745;
    border: none;
}

.custom-btn:hover {
    background-color: #218838;
}

footer {
    background-color: #343a40;
}
